.ratingContainer {
    border-radius: 6px;
    box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #728384;
    animation: fade-in-3d 1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* Set the perspective depth */
    background: linear-gradient(180deg, rgba(94, 219, 194, 0) 37.5%, #90a5c1 100%);
}

.filledStar {
    color: #90a5c1;
}

.ratingStars {
    font-size: 90px;
    margin-bottom: 10px;
}

.ratingInfo {
    text-align: center;
    margin-bottom: 10px;
}

.ratingValue {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    font-family: 'Cairo';
    font-style: normal;
    text-transform: uppercase;


}

.totalRatings {
    font-size: 14px;
    color: #000;
    font-size: 18px;

}

.addRatingButton {
    padding: 10px 20px;
    background-color: #90a5c1;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1);


    font-size: 18px;


}

.addRatingButton:hover {
    background-color: #e6e6e6;
}

@media screen and (max-width: 600px) {
    .ratingContainer {
        padding: 18px;
    }

    .ratingStars {
        font-size: 40px;
    }

    .ratingValue {
        font-size: 18px;
    }

    .totalRatings {
        font-size: 12px;
    }

    .addRatingButton {
        padding: 8px 16px;
        font-size: 14px;
    }
}