@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Kufam:ital,wght@0,400;1,500;1,600&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

.brand {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    padding-left: 20px;
    color: #fff;
    font-family: 'Kufam', sans-serif;
    width: 77px;


}


.navbar .navbar-toggler .icon-bar {
    background-color: #fff !important;
    color: #fff !important;
}

.navLink {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 17px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    padding: 0 10px;
}

.searchIcon {
    color: #AB6E15;
    border-color: none;
    transition: background-color 0.3s ease;
    width: 40px;
}

.searchIcon:hover {
    color: #425559 !important;
    transform: scale(1.5);
    border-radius: 10%;
}

.searchButton {
    all: unset;
    /* Adjust the margin as needed */
    background-color: transparent !important;
}


.navbar {
    justify-content: space-around;
    background-color: #F5F5F5;
    background: #425559;
    border-bottom: 1px solid #F5FFFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;

}


@media (min-width: 769px) {
    .navbar {
        gap: 27%;
        /* Adjust the percentage value as needed */
    }
}

@media (min-width: 1440px) {
    .navbar {
        gap: 30%;
        /* Adjust the percentage value as needed */
    }
}

.centeredLinks {
    justify-content: center;
    align-items: center;
}

.searchForm {
    display: flex;
    align-items: center;
}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

#navbar-nav {
    color: #fff !important;
}

.navbar-toggler-icon {
    background-color: transparent !important;
}

#navbar-nav button :hover, #navbar-nav:focus, #navbar-nav button :active {
    background-color: transparent !important;
}

#navbar-nav a :focus {
    background-color: white !important;
}

.languageIcon {
    padding: 0 10px;
    display: flex;
    align-items: center;
    /* Adjust the spacing as needed */
}

.whiteIcon svg {
    color: #fff;
}

.btnWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.GrLanguage {
    color: '#AB6E15';
    padding: 0;

}

button {
    padding: 0 10px;
}

.form {
    display: flex;
    align-items: center;
    position: relative;
    /* gap: 10px; */
}

[dir='rtl'] .form {
    left: unset;
    right: 0%;

}

@media (max-width: 1440px) {
    .form {

        /* left: 400px; */
    }
}

@media (max-width: 1025px) {
    .form {

        /* left: 285px; */
    }
}

@media (max-width: 768px) {
    /* .form {
        left: auto;
        margin-left: auto;
        margin-right: 195px;
        flex-direction: column;
    } */


}

@media (max-width: 576px) {
    .form {
        flex-direction: column;
        align-items: flex-end;
    }

    .searchButton {
        margin-left: 0;
        margin-top: 10px;
        /* Adjust the margin as needed */
    }

    .centeredLinks {
        gap: 10px;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .navbar {
        justify-content: space-between;
        /* margin: 0 10px; */
        /* box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1); */
    }


}


.foodOrderType {
    display: flex;
    flex-direction: row;
}

.foodOrderTypeItem {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.foodOrderTypeIcon {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}

.foodOrderTypeText {
    font-size: 10px;
    color: #fff;

}

.foodOrderType {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 214px;
    justify-content: space-between;

}

.foodOrderTypeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodOrderTypeIcon {
    font-size: 20px;
    margin-bottom: 5px;
}

.foodOrderTypeText {
    font-size: 10px;
    text-align: center;


}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    /* Remove bullet points */
    text-align: center;
    align-items: center;


}

.apps {
    align-items: center;
    color: #fff;
}

.cardList li {
    flex-basis: 33.33%;
    padding: 10px;
    text-decoration: none;
}

.cardImage {
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
    align-items: center;
}

.button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button svg {
    color: white;
}

.location {
    text-align: center;
}

.apps {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (max-width: 400px) {
    .foodOrderType {
        width: 186px;

    }


}

@media (max-width: 330px) {
    .foodOrderType {
        width: 151px;

    }

    .foodOrderTypeText {
        display: none;
    }
}

@media (max-width: 280px) {
    .foodOrderType {
        width: 126px;
    }
}