.container {
    padding: 30px;
    background: #72838412;
    /* Set the background color with rgba */
    /* Set the background color with rgba */
    position: relative;
    top: 30px;
    border-radius: 20px;
    box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1);
}

.sliderContainer {
    position: relative;
    width: 100%;
    left: 0;
}

.sliderItem {
    padding: 16px;
    margin-right: 10px;

}

.categoryContainer {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 10px;
    padding: 10px;
}

.categoryImage {
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 30px;
}

.categoryLink {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,
            -50%);
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    /* Apply first letter capitalization */

}



/* style.module.css */

.itemName {
    width: 100%;
    max-width: 397px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    position: relative;
    top: 0;

}


.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}

.dotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 5px;
}

.dot.active {
    background: #000;
}

.slick-list {
    margin-left: -130px !important;
}

.menuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    top: 60px;
}

.menuSection h4 {
    margin-bottom: 10px;
}

.menuSection p {
    margin-bottom: 20px;
}

.seeMoreLink {
    display: inline-block;
    /* padding: 8px 12px; */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    /* border-radius: 4px; */
    /* background-color: #728384; */
    position: relative;
    left: 20px;
    top: 20px;
    /* transition: background-color 0.3s ease; */


    background-color: black;
    width: 150px;
    height: 48px;
    border-radius: 10px;
}

.seeMoreLink:hover {
    background-color: #314f4f;
    color: #ffff;
}

@media (max-width: 768px) {
    .seeMoreLink {
        left: 5px;
        top: 5px;
        width: 102px;
        all: unset;
        color: #000;
        text-decoration: none;
        background: none;
        border: none;
        outline: none;
        margin-left: 20px;
        border: transparent;
    }


}

@media (max-width: 480px) {
    .seeMoreLink {
        left: 5px;
        top: 5px;
        text-decoration: none;

    }
}



div.slick-prev:before,
div.slick-next:before {
    visibility: hidden !important;
}