.menuCard {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 349px;
    max-width: 400px;
    height: auto;
    margin: 10px;
    background: #F8F8FF;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: -2px 3px 6px 5px #0000001a;
}

.menuCard.rtl {
    direction: rtl;
    /* Apply RTL direction if .rtl class is added */
}

.cardContent {
    flex: 1;
    padding: 10px;
}

.cardContent h2 {
    margin-top: 0;
    font-size: 20px;
    color: #000;
}

.description {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: rgb(254, 250, 250);
    background-color: #425559;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

.calories {
    font-size: 16px;
    color: gray;
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    align-items: center
}

.image {
    width: 57%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 4px;
}

/* Add RTL and LTR classes for menuContainer */
.menuContainer.rtl {
    direction: rtl;
}

.menuContainer.ltr {
    direction: ltr;
}

.containerRTL {
    direction: rtl;
    text-align: right;
}

.containerLTR {
    direction: ltr;
    text-align: left;
}

.expandedImage {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Add transitions for smoother animation */
.expandedImage {
    transition: opacity 0.3s ease;
}

/* Add overlay background for better visibility */
.expandedImage:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

/* Add close button */
.closeButton {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
}

/* Add hover effect for close button */
.closeButton:hover {
    opacity: 0.8;
}

/* Add padding to the expanded image */
.expandedImageContainer {
    padding: 20px;
}