.menuContainer {
    display: flex;
    flex-wrap: wrap;
}

.menuCard {
    width: 300px;
    height: auto;
    margin: 10px;
    background: #728384;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    margin: 80px auto;
    border-radius: 10px;
}

.menuCard:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cardContent {
    padding: 10px;
}

.cardContent h2 {
    margin-top: 0;
    font-size: 20px;
    padding: 20px;
    color: white;
}

.description {
    display: none;
    font-size: 14px;
    color: white;
}

.menuCard:hover .description {
    display: block;
    margin-top: 10px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.calories {
    font-size: 16px;
    color: #fff;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menuContainer.rtl {
    direction: rtl;
}

.menuContainer.ltr {
    direction: ltr;
}

.containerRTL {
    direction: rtl;
    text-align: right;
}

.containerLTR {
    direction: ltr;
    text-align: left;
}