.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #b78749;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: space-between;

}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type='radio'] {
    margin-right: 5px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

input[type='radio']:checked {
    background: #728384;
}

p {
    margin-bottom: 10px;
    text-align: center;
}

.button {
    margin: 20px;
    background: linear-gradient(99.92deg, #ab6e15 0%, #314f4f 100%);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.location,
.apps {
    margin-top: 20px;
    text-align: center;
}

.radioGroupClass {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* RTL Styles */
.container.ar {
    margin: 20px;
    flex-direction: row-reverse;
    text-align: right;
    align-items: space-between;
}

.container.ar h3 {
    text-align: left;
}

.container.ar label {
    flex-direction: row-reverse;
}

.container.ar .location,
.container.ar .apps {
    text-align: right;
}

.container.ar ul {
    text-align: right;
}

.dropdownSelect {
    appearance: none;
    background-color: #728384;
    border: 1px solid #728384;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    direction: ltr;
    /* Added direction for LTR text inside the dropdown */
}

.dropdownSelect:focus {
    outline: none;
    border-color: #b78749;
    box-shadow: 0 0 5px rgba(183, 135, 73, 0.5);
}