.foodOrderTypeWrapper {
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    align-items: center;
    border-radius: 6px;
    padding-top: 16px;

}

.cardContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 356px;
    gap: 10px;

}

.card {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
    border-color: green;
}

.selected {
    border-color: green;
}

.cardIcon {
    width: 100%;
    border: 1px solid rgba(106, 110, 123, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    border-radius: 0.4rem;
    height: 4.2rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;


    background: #5EDBC2;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.cardIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    /* Add this line to create a border */
    padding: 5px;
    /* Optional: Add padding to adjust the spacing around the icon */

}

.cardText {

    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 9px;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-weight: 500;
    line-height: 1.75;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;

}

.button {
    background-color: transparent;
    border: none;
    cursor: cell;
}

.location {
    margin-top: 20px;
    text-align: center;
}

.apps {
    font-weight: bold;
    margin-bottom: 10px;
}

.cardList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardList a {
    text-decoration: none;
}

.cardList img {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .card {
        width: calc(30% - 20px);
        height: auto;
    }

    .button,
    .location {
        width: 100%;
    }

    .location {
        margin-top: 10px;
    }
}