.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #728384;
    animation: _fade-in-3d_seuus_1 1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    background: linear-gradient(2deg, rgba(94, 219, 194, 0) .5%, #425559 100%);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;

}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.social-media-icon {
    font-size: 24px;
    margin-left: 10px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;
    justify-content: space-evenly;


}

.location-section,
.work-hours,
.contact-info {
    flex: 1 1 100%;
    max-width: 300px;
    margin-bottom: 20px;
    color: #fff;

}

.section-title,
.work-hours-title,
.contact-info-title {
    margin-bottom: 10px;
    color: #fff;
}

.location-icon,
.contact-info-icon {
    font-size: 24px;
    margin-right: 5px;
}

.footer-text {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;

    color: #000;
    font-family: 'Kufam', sans-serif;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-evenly;

    }

    .social-media-links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .footer-info {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .location-section,
    .work-hours,
    .contact-info {
        flex: 1 1 auto;
        margin-right: 20px;
        margin-bottom: 0;
        justify-content: space-evenly;
        justify-content: center;


    }
}

.location-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;


}

.location-icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-direction: row-reverse;

}

.location-icon {
    font-size: 20px;
    margin-right: 5px;
}

.location-address {
    margin: 0;
}

.contact-info-item {
    display: flex;
    align-items: center;

    flex-direction: row-reverse;

    justify-content: center;
    gap: 10px;



}

.contact-info-icon {
    font-size: 20px;
    margin-right: 5px;
}

.contact-info p {
    margin: 0;
}