.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -2px 3px 6px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-bottom: 2px solid #728384;
    animation: _fade-in-3d_seuus_1 1s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    background: linear-gradient(180deg, rgba(94, 219, 194, 0) 37.5%, #90a5c1 100%);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    /* Align icons to the right */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.social-media-icon {
    font-size: 24px;
    margin-left: 10px;
    /* Adjust margin to create space between icon and text */
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.location-section,
.work-hours,
.contact-info {
    flex: 1 1 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.section-title,
.work-hours-title,
.contact-info-title {
    margin-bottom: 10px;
}

.location-icon,
.contact-info-icon {
    font-size: 24px;
    margin-right: 5px;
}

.footer-text {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .social-media-links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .footer-info {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .location-section,
    .work-hours,
    .contact-info {
        flex: 1 1 auto;
        margin-right: 20px;
        margin-bottom: 0;
    }
}