.categoryLink {
    font-weight: bold;
    text-decoration: none;
    color: #050505;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 8px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    margin: 5px 0;
}

.wrap {
    margin-bottom: 200px;
}

.menuCategory {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuCard {
    position: relative;
}

.menuCard img {
    width: 100%;
    height: auto;
    margin: 0px;
    object-fit: cover;
    border-radius: 6px;
}

.cover {
    background: linear-gradient(180deg, rgba(94, 219, 194, 0) 0%, #425559 100%);
    position: absolute;
    height: 112px;
    z-index: 100000;
    width: 100%;
    border-radius: 6px;
    top: 58.5rem;

}

.menuCard h2 {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 100000;
    width: 100%;
    max-width: 397px;
    bottom: 26px;
    font-size: 16px;
    white-space: nowrap;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.menuTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;

    flex-wrap: wrap;

    position: relative;
    top: 60px;
    padding-bottom: 30px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .menuCategory {
        padding: 10px;
    }

    .cover {
        top: 31.5rem;
        height: 80px;
        width: 100%;
        margin-left: 0;
    }

    .menuCard h2 {
        font-size: 16px;
        left: 9%;

    }


}

@media (max-width: 480px) {
    .categoryLink {
        top: 10%;
        font-size: 14px;
    }

    .cover {
        top: 17rem;
        height: 60px;
        width: auto !important;
    }

    .menuCard h2 {
        font-size: 22px;
        top: 86%;
        left: 28%;
        z-index: 20000000;
    }


}


@media (max-width: 320px) {
    .categoryLink {
        top: 8%;
        font-size: 12px;
    }

    .cover {
        top: 12.5rem;
        height: 50px;
        width: auto !important;
    }

    .menuCard h2 {
        font-size: 18px;
        top: 80%;
        left: 28%;
        z-index: 20000000;
    }


}


@media (min-width: 375px) and (max-width: 423px) {
    .categoryLink {
        top: 8%;
        font-size: 14px;
    }

    .cover {
        top: 15rem;
        height: 60px;
        width: auto !important;
    }

    .menuCard h2 {
        font-size: 20px;
        top: 82%;
        left: 28%;
        z-index: 20000000;
    }


}


@media (min-width: 1024px) {
    .categoryLink {
        top: 10%;
        font-size: 16px;
    }

    .cover {
        top: 41rem;
        height: 100px;
        width: 100%;
        margin-left: 0;
    }

    .menuCard h2 {
        font-size: 18px;
    }

}