@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}


/* English Font Family */
body[lang='en'] {
    font-family: 'Instrument Sans', sans-serif;
}

/* Arabic Font Family */
body[lang='ar'] {
    font-family: 'Noto Sans Arabic', sans-serif;
}

body {
    background: #F5FFFB;

}