/* style.module.css */
.store-location {
    padding: 20px;

}


/* style.module.css */
.card {
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* Set the perspective depth */
    margin-top: 200px;

}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    /* Make the map container full width */
    /* Enable hardware acceleration */
    background-color: transparent;
    /* Remove the background color */
}

.map-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;

}

.location-text {
    font-size: 14px;
    color: #ffff;
    margin-bottom: 10px;
}

/* Rest of the styles remain the same */

@keyframes fade-in-3d {
    0% {
        opacity: 0;
        transform: translate3d(0, -10px, -100px) rotateX(60deg);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotateX(0);
    }
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.location-text {
    font-size: 16px;
    color: #666;
    text-align: center;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .map-container {
        height: 300px;
    }

    .card {
        position: relative;
        animation: slide-up-3d 1s ease-in-out;
        transform-origin: top;
        margin-bottom: 147px;
        margin-top: 90px;
    }

    @keyframes slide-up-3d {
        0% {
            opacity: 0;
            transform: translate3d(0, 20px, -100px) rotateX(60deg);
        }

        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0) rotateX(0);
        }
    }
}


/* style.module.css */

.card {
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* Set the perspective depth */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    /* Add the background gradient */
}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    /* Make the map container full width */
    /* Enable hardware acceleration */
    background-color: transparent;
    /* Remove the background color */
}

.map-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.location-text {
    font-size: 14px;
    color: #ffff;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.location-text {
    font-size: 16px;
    color: #666;
    text-align: center;
}

/* Rest of the styles remain the same */